<div class="base-form">
  <form class="form mat-elevation-z4">
    <h2>App</h2>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input  matInput placeholder="Email"  required="">
    </mat-form-field>
    <div>
      <label>Senha</label>
      <input type="password" placeholder="Senha"  maxlength="10" required>
    </div>
    <button color="primary" >Login</button>

    <hr>
    <div class="mt-4">
      <p>Não possui uma conta? <a href="">Clique aqui</a> para criar agora mesmo!</p>
    </div>
  </form>
</div>
