<div class="base-form">
  <form class="form">
    <h2 class="text-center">Crie sua conta!</h2>
    <div>
      <label>Nome completo</label>
      <input placeholder="Nome completo">
    </div>

    <div>
      <label>Email</label>
      <input placeholder="Email" required="">
    </div>

    <div>
      <label>Senha</label>
      <input type="password" placeholder="Senha" maxlength="10">
    </div>

    <div>
      <label>Repita a senha</label>
      <input type="password" placeholder="Senha">
    </div>

    <div class="text-center">
      <button color="primary">Criar</button>
    </div>

    <hr>
    <div class="mt-4">
      <p>Já possui uma conta? <a href="">Clique aqui</a> para entrar agora mesmo!</p>
    </div>
  </form>
</div>
