<div class="main-root">
  <div color="primary">
    <button>
      <span>menu</span>
    </button>
    <span>LDS App</span>
    <span class="toolbar-item-spacer"></span>
    <button>
      <span>account_circle</span>
    </button>
    <div yPosition="below">
      <button href="">
        <span>person</span><span>Minha conta</span>
      </button>
      <button href="">
        <span>settings</span><span>Ajuda</span>
      </button>

      <br />

      <button>
        <span>exit_to_app</span>Sair
      </button>
    </div>
  </div>

  <div class="app-container">
    <div class="app-sidenav">
      <div>
        <a href="/home">
          <span>dashboard</span><span>Home</span>
        </a>
        <div>
          <div>
            Produtos
          </div>
          <div>
            <a href="">Listar</a>
            <a href="">Criar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-wrap">
      <main class="container mt-2">
        <div class="mb-4"></div>
      </main>
    </div>
  </div>
  <footer>
    Todos os direitos reservados.
    Feito com <span></span> pela FAI ;D
  </footer>
</div>
